{
  "repositoryUrl": "git@github.com:YuChunTsao/test-ci.git",
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"],
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "publish/linux/MyProject", "name": "MyProject-linux-x64-${nextRelease.version}", "label": "MyProject Linux x64" },
          { "path": "publish/osx/MyProject", "name": "MyProject-osx-x64-${nextRelease.version}", "label": "MyProject macOS x64" },
          { "path": "publish/win/MyProject.exe", "name": "MyProject-win-x64-${nextRelease.version}.exe", "label": "MyProject Windows x64" }
        ]
      }
    ]
  ],
}
