{
  "repositoryUrl": "git@github.com:YuChunTsao/test-ci.git",
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"],
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "publish/linux/MyProject-*.tar.gz", "name": "MyProject-linux-v${nextRelease.version}-linux-x64.tar.gz", "label": "MyProject v${nextRelease.version} for Linux (x64)" },
          { "path": "publish/win/MyProject-*.zip", "name": "MyProject-win-v${nextRelease.version}-win-x64.zip", "label": "MyProject v${nextRelease.version} for Windows (x64)" },
          { "path": "publish/osx/MyProject-*.tar.gz", "name": "MyProject-osx-v${nextRelease.version}-osx-x64.tar.gz", "label": "MyProject v${nextRelease.version} for macOS (x64)" }
        ]
      }
    ]
  ],
}
