{
  "repositoryUrl": "git@github.com:YuChunTsao/test-ci.git",
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"],
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "publish/linux/MyProject", "label": "MyProject-linux-x64" },
          { "path": "publish/osx/MyProject", "label": "MyProject-osx-x64" },
          { "path": "publish/win/MyProject.exe", "label": "MyProject-win-x64" }
        ]
      }
    ]
  ],
}
